
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    cursor: crosshair; 
}

::-webkit-scrollbar { 
    display: none; 
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #ffffff;
}

a {
  color: #196a74;
  text-decoration: none;
  cursor: none;
}


/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader { 
  position: fixed; 
  left: 0; top: 0; 
  z-index: 999; 
  width: 100%; 
  height: 100%; 
  overflow: 
  visible; 
  background: #000 url('../img/preloader-2.gif') no-repeat center center; 
}

/* -------------------------------- 

Main Components 

-------------------------------- */

/*neon sign*/
.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    position: absolute;
    top: 40%;
    right: 46%;
    font-size: 9rem;
    font-family: 'Inconsolata', monospace;
    z-index: 1;
    display: inline-flex;
    letter-spacing: 4px;
}

.moon{
    display: inline-block;
    margin: 8px 24px;
}

#banner {
  position:relative;
  width:100%;
  z-index: 1;
}

.star {
    position: absolute;
    width: 8px;
    height: 8px;
    background:white;
    visibility: hidden;
    opacity: 0;
}

.clouds {
  position: absolute;
  display: inline-block;
  z-index: 3000;
  right: -4%;
  top: 300%;
}

.clouds1 {
  position: absolute;
  display: inline-block;
  z-index: 3000;
  right: 55%;
  top: 330%;
}

.clouds2 {
  position: absolute;
  display: inline-block;
  z-index: 3000;
  right: -4%;
  top: 290%;
}

.clouds3 {
  position: absolute;
  display: inline-block;
  z-index: 3000;
  top: 320%;
}

.clouds4 {
  position: absolute;
  display: inline-block;
  z-index: 3000;
  right: 3%;
  top: 290%;
}

.clouds5 {
  position: absolute;
  display: block;
  z-index: 3000;
  top: 370%;
  width: 100%;
}

/*.add-to-class{
  z-index: 0;
}*/

.starry {
  width: 100%;
  margin-bottom: -3px;
}

.cd-background-wrapper {
  position: inherit;
  overflow: hidden;
  -webkit-perspective: 4000px;
  perspective: 4000px;
}

.cd-background-wrapper.add-to-class {
  z-index: 5;
}

.cd-floating-background {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
/*.cd-floating-background.is-absolute {
  position: absolute;
}*/
.cd-floating-background img {
  display: block;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fixes a Firefox bug - images not correctly rendered*/
  background-color: rgba(255, 255, 255, 0.0001);
  overflow: hidden;
}
.cd-floating-background img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-floating-background img:first-child {
  -webkit-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  transform: translateZ(50px);
}
.cd-floating-background img:nth-child(2) {
  -webkit-transform: translateZ(290px);
  -ms-transform: translateZ(290px);
  transform: translateZ(290px);
  z-index: 2;
}
.cd-floating-background img:nth-child(3) {
  -webkit-transform: translateZ(400px);
  -ms-transform: translateZ(400px);
  transform: translateZ(400px);
}
.no-preserve-3d .cd-floating-background {
  /* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
  position: relative;
}

.neonone {
    bottom: 46%;
    right: 47%;
    z-index: 2;
    font-size: 1rem;
}

i {
  font-family: 'Inconsolata', monospace;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #0ff,
    0 0 150px #0ff;
  font-size: 3rem;
}

i.off {
  color: rgba(46, 46, 46, 0.61);
  text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

section.p5 a {
  text-align: center;
  width:30%;
  height: 94px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -185px;
  margin-top: -47px;
}
section.p5 a:after {
  content: '';
  width: 5px;
  height: 212px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(45deg) translate(0%, 0%);
  -moz-transform: rotate(45deg) translate(0%, 0%);
  -ms-transform: rotate(45deg) translate(0%, 0%);
  -o-transform: rotate(45deg) translate(0%, 0%);
  transform: rotate(45deg) translate(0%, 0%);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -106px;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
}
section.p5 a:hover:after {
  -webkit-animation: comets 0.5s forwards;
  -moz-animation: comets 0.5s forwards;
  -ms-animation: comets 0.5s forwards;
  animation: comets 0.5s forwards;
}
@-moz-keyframes comets {
  0% {
    width: 0;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20%, -100%);
    -moz-transform: rotate(45deg) translate(-20%, -100%);
    -ms-transform: rotate(45deg) translate(-20%, -100%);
    -o-transform: rotate(45deg) translate(-20%, -100%);
    transform: rotate(45deg) translate(-20%, -100%);
  }
  50% {
    width: 2px;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: rotate(45deg) translate(20%, 100%);
    -moz-transform: rotate(45deg) translate(20%, 100%);
    -ms-transform: rotate(45deg) translate(20%, 100%);
    -o-transform: rotate(45deg) translate(20%, 100%);
    transform: rotate(45deg) translate(20%, 100%);
  }
}
@-webkit-keyframes comets {
  0% {
    width: 0;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20%, -100%);
    -moz-transform: rotate(45deg) translate(-20%, -100%);
    -ms-transform: rotate(45deg) translate(-20%, -100%);
    -o-transform: rotate(45deg) translate(-20%, -100%);
    transform: rotate(45deg) translate(-20%, -100%);
  }
  50% {
    width: 2px;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: rotate(45deg) translate(20%, 100%);
    -moz-transform: rotate(45deg) translate(20%, 100%);
    -ms-transform: rotate(45deg) translate(20%, 100%);
    -o-transform: rotate(45deg) translate(20%, 100%);
    transform: rotate(45deg) translate(20%, 100%);
  }
}
@keyframes comets {
  0% {
    width: 0;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20%, -100%);
    -moz-transform: rotate(45deg) translate(-20%, -100%);
    -ms-transform: rotate(45deg) translate(-20%, -100%);
    -o-transform: rotate(45deg) translate(-20%, -100%);
    transform: rotate(45deg) translate(-20%, -100%);
  }
  50% {
    width: 2px;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: rotate(45deg) translate(20%, 100%);
    -moz-transform: rotate(45deg) translate(20%, 100%);
    -ms-transform: rotate(45deg) translate(20%, 100%);
    -o-transform: rotate(45deg) translate(20%, 100%);
    transform: rotate(45deg) translate(20%, 100%);
  }
}


